

.student-name {
 border-bottom: 1px solid rgb(0, 0, 0);
 border-top: 1px dotted rgb(0, 0, 0);
 text-align: center;
 padding-top: 2vmin;
}

.student-bio {
  font-style: italic;
  text-align: center;
}

.date-score-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 1vmin;
}

.date {
  text-decoration: underline;
}

.score {
  font-weight: bold;
}